.wrapper {
  display: flex;
  flex-direction: column;
}

.link {
  margin: 2rem;
  text-align: center;
  font-size: 2rem;
  color: var(--accent-purple);
}

.link:hover {
  color: var(--accent-purple-hover);
}

@media (max-width: 768px) {
  .link {
    font-size: 1.5rem;
  }
}
