.embla {
  max-width: 40%;
  margin: auto;
  --slide-height: 25rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
}

.emblaViewport {
  overflow: hidden;
}
.emblaContainer {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.emblaSlide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

.emblaSlideInner {
  border-radius: 1.8rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
  color: var(--text-muted);
  background-color: var(--bg-panel);
}

.emblaControls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.emblaButtons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}

.emblaDots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}

.emblaDot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.emblaDot::after {
  box-shadow: inset 0 0 0 0.2rem var(--accent-purple-hover);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: "";
}

.emblaDotSelected::after {
  box-shadow: inset 0 0 0 0.2rem var(--accent-purple);
}

.actionBtns {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.actionBtns a {
  color: var(--text-dark);
}

.actionBtns a:nth-child(1) {
  background-color: #9879a8;
}

.actionBtns a:nth-child(1):hover {
  background-color: #846891;
}

.actionBtns a:nth-child(2) {
  background-color: #afc787;
}

.actionBtns a:nth-child(3) {
  background-color: pink;
}

.actionBtns a:nth-child(2):hover {
  background-color: #95a875;
}

.actionBtns a:nth-child(3):hover {
  background-color: rgb(206, 157, 165);
}

@media (max-width: 1024px) {
  .embla {
    max-width: 80%;
  }
}

@media (max-width: 768px) {
  .actionBtns {
    flex-direction: column;
    gap: 0.5rem;
  }
}

@media (max-width: 600px) {
  .embla {
    max-width: 100%;
  }
}
