@import url("https://fonts.googleapis.com/css2?family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&display=swap");
@import "./styles/theme.css";

:root {
  --header-height: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  width: 100%;
}

main {
  min-height: calc(100dvh - (var(--header-height)));
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

body {
  background-image: url("/bg.avif");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: var(--text-light);
  line-height: 1.6;
  overflow-x: hidden;
  width: 100%;
  backdrop-filter: blur(5px) grayscale(40%);
  font-family: "Intel One Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

header {
  background: var(--bg-panel);
  padding: 1rem 2rem;
  min-height: var(--header-height);
}

nav {
  display: flex;
}

ul {
  list-style-type: none;
}

button,
input,
textarea {
  font-family: inherit;
}

a.active,
.active-link {
  color: var(--accent-yellow);
  font-weight: 700;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 1rem;
  background: var(--bg-panel);
  border: 1px solid var(--border-soft);
  margin: 3rem auto;
}

.form-wrapper h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

label {
  margin: 1rem 0 0.5rem;
  font-weight: 500;
  font-size: 0.875rem;
  color: var(--text-muted-dark);
}

input,
textarea {
  max-width: 100%;
  padding: 0.625rem 0.75rem;
  font-size: 0.95rem;
  font-family: inherit;
  border-radius: 0.5rem;
  border: 1px solid var(--border-dark);
  background-color: var(--bg-blur);
  color: var(--text-light);
  transition:
    border 0.2s,
    background-color 0.2s,
    box-shadow 0.2s;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: var(--border-highlight);
  box-shadow: 0 0 0 3px var(--border-highlight-glow);
  background-color: hsl(240, 4%, 14%);
}

.form-error {
  font-size: 1rem;
  color: var(--text-error);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-primary {
  all: unset;
  margin-top: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 0.75rem;
  padding: 0.6rem 1.2rem;
  cursor: pointer;
  background-color: var(--accent-purple);
  color: white;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-primary:hover {
  background-color: var(--accent-purple-hover);
  transform: translateY(-2px);
}

.btn-primary:disabled {
  background-color: #a7a6a6;
  color: #1a1717;
  cursor: not-allowed;
  opacity: 0.7;
  transform: none;
}

.moose-img {
  width: 100px;
  animation: float 2s ease-in-out infinite;
}

.cards-container {
  display: flex;
  gap: 1rem;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}

.error-msg {
  text-align: center;
  margin-top: 2rem;
  font-weight: 600;
  color: #ff7a7a;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 1024px) {
  .form-wrapper {
    min-width: 30rem;
  }

  .cards-container {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .form-wrapper {
    min-width: 30rem;
  }
}

@media (max-width: 768px) {
  .btn-primary {
    padding: 0.3rem 1.2rem;
  }

  input,
  textarea {
    max-width: 100%;
    padding: 0.5rem 0.6rem;
    font-size: 0.95rem;
  }

  .form-wrapper {
    padding: 1rem;
  }
}
